<div class="date-picker">
  <div class="left-container">
    <button mat-icon-button (click)="onPrevious()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span class="date-display">{{ displayValue }}</span>
    <button mat-icon-button (click)="onNext()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="right-container">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>calendar_today</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <app-calendar-select
        [selectedDate]="selectedDate"
        (dateSelected)="onSelectDate($event)"
        [view]="view()"
      ></app-calendar-select>
    </mat-menu>
  </div>
</div>
