.date-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.left-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date-display {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

@media (min-width: 610px) {
  .date-picker {
    justify-content: center;
  }
}
