<mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngFor="let filter of filters">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ filter.title }}</mat-panel-title>
      <mat-panel-description>
        <mat-icon>{{ filter.icon }}</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container" [ngClass]="filter.cssClass">
      <app-filter-search [label]="filter.title" (search)="filter.onSearch($event)">
      </app-filter-search>

      <mat-selection-list [multiple]="false" class="selection-list" [ngClass]="filter.cssClass">
        <mat-list-option
          *ngFor="let item of filter.data$ | async"
          [value]="item.id"
          (selectedChange)="filter.onSelect(item)"
        >
          {{ item.displayName }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-expansion-panel>
</mat-accordion>
