.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: end;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.selection-list {
  max-height: 25rem;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

@media (min-width: 1024px) {
  .selection-list {
    max-height: none;
    height: calc(100vh - 160px - 3.5rem);
  }

  .selection-list.center-list {
    height: calc(100vh - 160px - 4.5rem);
  }
}
