.menu-btn {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  z-index: 1000;
}

.menu-item-btn {
  display: block;
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--base-3x-light), 0.75);
  text-align: center;
  box-shadow: var(--shadow-lg);
  transition: background-color 0.2s;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(var(--base-dark));

  &:hover {
    background-color: rgba(var(--base-2x-light), 0.5);
  }
}
