<h2 mat-dialog-title>Create New Event</h2>

<mat-dialog-content>
  <app-event-info-form (infoFormOutput)="onInfoSelected($event)"></app-event-info-form>
  <div class="right-container">
    <app-event-time-form (timeSelected)="onTimeSelected($event)"></app-event-time-form>
    <mat-divider></mat-divider>
    <div class="extra-options">
      <app-color-picker (colorSelected)="onColorSelected($event)"></app-color-picker>
      <mat-checkbox [checked]="isLunch()" (change)="onIsLunchSelected($event)">Lunch?</mat-checkbox>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" [disabled]="disableSubmit()" (click)="onSubmit()">
    Create Event
  </button>
</mat-dialog-actions>
