:host {
  display: block;
}

mat-dialog-content {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

mat-dialog-actions {
  padding: 1rem;
}

mat-divider {
  margin: 1.25rem 0;
}

.extra-options {
  display: flex;
  gap: 1rem;
}

@media (min-width: 768px) {
  mat-dialog-content {
    flex-direction: row;
    gap: 2rem;
  }
}
