<mat-tab-group>
  <mat-tab label="Teacher">
    <form [formGroup]="forms.teacher" (ngSubmit)="onSubmit('teacher')" class="form-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="displayName" />
        <mat-error *ngIf="forms.teacher.get('displayName')?.invalid">
          {{ getErrorMessage(forms.teacher, 'displayName') }}
        </mat-error>
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="forms.teacher.invalid || isSubmitting"
      >
        Create Teacher
      </button>
    </form>
  </mat-tab>

  <mat-tab label="Group">
    <form [formGroup]="forms.group" (ngSubmit)="onSubmit('group')" class="form-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="displayName" />
        <mat-error *ngIf="forms.group.get('displayName')?.invalid">
          {{ getErrorMessage(forms.group, 'displayName') }}
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="forms.group.invalid || isSubmitting"
      >
        Create Group
      </button>
    </form>
  </mat-tab>

  <mat-tab label="Location">
    <form [formGroup]="forms.location" (ngSubmit)="onSubmit('location')" class="form-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="displayName" />
        <mat-error *ngIf="forms.location.get('displayName')?.invalid">
          {{ getErrorMessage(forms.location, 'displayName') }}
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="forms.location.invalid || isSubmitting"
      >
        Create Location
      </button>
    </form>
  </mat-tab>

  <mat-tab label="Course">
    <form [formGroup]="forms.course" (ngSubmit)="onSubmit('course')" class="form-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="displayName" />
        <mat-error *ngIf="forms.course.get('displayName')?.invalid">
          {{ getErrorMessage(forms.course, 'displayName') }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Subject</mat-label>
        <input matInput formControlName="subject" />
        <mat-error *ngIf="forms.course.get('subject')?.invalid">
          {{ getErrorMessage(forms.course, 'subject') }}
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="forms.course.invalid || isSubmitting"
      >
        Create Course
      </button>
    </form>
  </mat-tab>
</mat-tab-group>
